@use './variables' as *;

.modal.ui:is(.small) {
  border-radius: 8px;
  overflow: hidden;

  .modal-wrapper {
    padding: 3.5rem 3rem 0;
  }

  .close.icon {
    top: 1rem;
    right: 1rem;
    color: $dark-gray;
  }

  .header {
    border: none;

    .title {
      font: 700 1.72rem $body-font-family;
    }

    .description {
      font: 500 $body-font-size $body-font-family;
      margin: 20px 0 23px;
    }
  }

  .content {
    padding-top: 1rem;
    padding-bottom: 4rem !important;

    .form {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  @media (max-width: 767px) {
    width: 87%;
    margin-top: 105px !important;

    .modal-wrapper {
      padding: 2.2rem 1.8rem 0 !important;
    }

    .close.icon {
      top: 1.8rem !important;
      right: 0.8rem !important;
    }

    .header {
      .title {
        font-size: 1.3rem;
      }

      .description {
        font-size: 14px;
        line-height: 1.7;
        margin: 25px 0 0px;
      }
    }

    .content {
      padding-top: 1.7rem !important;
      padding-bottom: 2.2rem !important;
    }
  }
}

.modal.ui.tiny {
  border-radius: 8px;
  padding: 50px 0;
  text-align: center;

  & > * {
    padding: 0 !important;
  }

  .header {
    border: none;

    img {
      width: clamp(66px, 6.25vw, 100px);
      margin-bottom: 35px;
    }

    p {
      font-family: inherit;
      font-size: clamp(19px, 1.7vw, 1.8rem);
      font-weight: 700;
      color: $black;
    }
  }

  .content {
    width: min(90%, 440px);
    margin: 10px auto 35px;

    p {
      font-family: inherit;
      font-size: min(3.7vw, 1.15rem);
      font-size: clamp(14px, 1.11vw, 1.2rem);
    }
  }

  .actions {
    border: none;
    text-align: center;

    button {
      width: 110px;
      line-height: 2;
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    padding: 30px 0 40px;
    width: 87%;

    .header {
      img {
        margin-bottom: 15px;
      }
    }

    .content {
      margin: 18px auto 27px;
    }
  }
}
