@use './variables' as *;

$radio-button-size: 24px;

.pledge.stand {
  padding: 35px 0 0;

  .stand-main {
    display: grid;
    grid-template-columns: 30px 1fr 65px;
    grid-template-areas:
      'select header left'
      '.      info   info';
    padding: 0 28px 12px;
    gap: 18px;

    /* Make a custom radio button
    * Attribution to W3schools
    * https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
    */
    .stand-select {
      grid-area: select;
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;
      font-size: 22px;
      user-select: none;

      /* Hide the browser's default radio button */
      input {
        position: absolute;
        opacity: 0;
        left: 0;
        width: $radio-button-size;
        height: $radio-button-size;
        z-index: 100;

        &:enabled {
          cursor: pointer;
        }

        /* When the radio button is checked, add a blue background */
        &:checked ~ .checkmark {
          background-color: #fff;

          /* Show the indicator (dot/circle) when checked */
          &::after {
            display: block;
          }
        }
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: $radio-button-size;
        width: $radio-button-size;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid $divider-color;
        transition: 0.3s linear;

        /* Create the indicator (the dot/circle - hidden when not checked) */
        &::after {
          content: '';
          position: absolute;
          display: none;

          /* Style the indicator (dot/circle) */
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $moderate-cyan;
        }
      }

      /* On mouse-over, add a grey background color */
      &:hover input:enabled ~ .checkmark {
        border-color: $moderate-cyan;
      }
    }

    .stand-header {
      grid-area: header;
      display: flex;
      gap: 1.2rem;
      justify-content: initial;

      .stand-name {
        font-size: $body-font-size;
      }

      .pledge-min {
        letter-spacing: 0.03em;
        line-height: normal;
      }
    }

    .pledges-left {
      grid-area: left;
      justify-self: end;
      line-height: normal;
      margin-top: -3px;

      .left-num {
        font-size: 1.3rem;
      }

      .left-text {
        vertical-align: baseline;
        padding-left: 3px;
      }
    }

    .stand-info {
      grid-area: info;
      margin: 0 0 15px;
      font-size: $body-font-size - 1;
    }
  }

  .pledging {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $divider-color;
    padding: 0 2rem;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: padding 0.3s ease-out, opacity 0.5s linear;

    label {
      color: $dark-gray;
      cursor: pointer;
      font-size: $body-font-size - 1;
    }

    .fields {
      margin: 0;

      .field {
        width: 110px;

        .ui.input input {
          border-radius: 50px;
          caret-color: $moderate-cyan;
          line-height: 2;

          /* Chrome, Safari, Edge, Opera */
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          &[type='number'] {
            -moz-appearance: textfield;
          }
        }

        .ui.button {
          width: inherit;
          line-height: 2;
        }
      }
    }
  }

  &.checked {
    border: 2px solid $dark-cyan;

    .pledging {
      visibility: visible;
      opacity: 1;
      height: auto;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  @media only screen and (max-width: 767px) {
    padding: 10px 0;

    .stand-main {
      grid-template-columns: 30px 1fr;
      grid-template-rows: 70px auto;
      grid-template-areas:
        'select header'
        '.      .     '
        'info   info  '
        'left   left  ';
      padding: 0 22px 13px;
      gap: 5px 10px;
      align-items: center;

      .stand-header {
        gap: 0.5rem;

        .stand-name {
          font-size: $body-font-size - 2;
        }

        .pledge-min {
          letter-spacing: 0;
        }
      }

      .pledges-left {
        justify-self: initial;
        margin: 20px 0 5px;
      }

      .stand-info {
        margin: 0;
        font-size: $body-font-size - 2;
      }
    }

    .pledging {
      justify-content: center;
      flex-direction: column;
      padding: 0 2rem;
      gap: 20px;

      label {
        font-size: $body-font-size - 2;
      }

      .fields.equal.width {
        flex-wrap: nowrap;
        gap: 15px;

        & > .field {
          width: 100px !important;
          padding: 0;

          .ui.button {
            width: 110px;
          }
        }
      }
    }

    &.checked {
      .pledging {
        padding-top: 33px;
        padding-bottom: 0;
      }
    }
  }
}
